{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}IHA Uretim{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'production/css/style.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Ana Sayfa</a></li>
                <li><a href="{% url 'listParts' %}">Parcaları Listele</a></li>
                <li><a href="{% url 'produceParts' %}">Parca Uret</a></li>
                <li><a href="{% url 'assemble_and_view_drones' %}">Montaj</a></li> 
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}" onclick="return confirmLogout(event)">Cikis</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Giris</a></li>
                    <li><a href="{% url 'register' %}">Kayit</a></li> 
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        <!-- Display error messages -->
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="alert {{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <!-- <div class="welcome-message"> </div> -->
            {% block content %}
            <!-- Default content -->
            {% endblock %}
        
    </main>

    <footer>
        <p>&copy; 2024 IHA kiralam uygulamasi.</p>
    </footer>

    <script>
        function confirmLogout(event) {
            if (!confirm("Cikis islemini onayliyor musunuz?")) {
                event.preventDefault(); // Prevent the link from being followed
                return false;
            }
            return true;
        }

        document.addEventListener("DOMContentLoaded", function() {
            // Select all alert messages
            const alerts = document.querySelectorAll('.alert');

            // Loop through each alert and set a timeout to hide it
            alerts.forEach(function(alert) {
                setTimeout(function() {
                    alert.style.opacity = '0';  // Fade out the message
                    setTimeout(function() {
                        alert.style.display = 'none';  // Hide the message completely after fade out
                    }, 500);  // Delay for fade out effect (500ms)
                }, 3000);  // Delay before disappearing (3000ms = 3 seconds)
            });
        });
    </script>
    {% block extra_js %}{% endblock %}
</body>
</html>
