{% extends "production/base.html" %}

{% block title %}List Parts{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ user.employee_profile.team }} Parçaları</h1>

    {% if parts %}
        <table class="parts-table">
            <thead>
                <tr>
                    <th>Part ID</th>
                    <th>Aircraft Name</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for part in parts %}
                    <tr>
                        <td>{{ part.pk }}</td>
                        <td>{{ part.aircraftname }}</td>
                        <td>{{ part.status }}</td>
                        <td>
                            <form method="post" action="{% url 'delete_part' part.pk %}" class="delete-form">
                                {% csrf_token %}
                                <button 
                                    type="submit" 
                                    class="delete-button" 
                                    data-part-id="{{ part.pk }}" 
                                    data-part-status="{{ part.status }}">
                                    Sil
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Hiç {{ user.employee_profile.team }} parçası bulunmuyor.</p>
    {% endif %}
</div>
{% endblock %}


{% block extra_js %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const deleteButtons = document.querySelectorAll(".delete-button");

        deleteButtons.forEach(button => {
            button.addEventListener("click", function (event) {
                event.preventDefault(); // Prevent form submission
                const partId = this.dataset.partId;
                const partStatus = this.dataset.partStatus;

                let confirmationMessage = `Silme islemini onayliyor musunuz?`;
                
                if (partStatus === "used") {
                    confirmationMessage += "Bu parca bir ucakta kullaniliyor. silme islemine devam etmek istiyor musunuz?";
                }

                const confirmation = confirm(confirmationMessage);

                if (confirmation) {
                    // Submit the form programmatically if the user confirms
                    this.closest("form").submit();
                }
            });
        });
    });
</script>
{% endblock %}