{% extends "production/base.html" %}

{% block title %} {{ user.employee_profile.team }} parca uretme sayfasi{% endblock %}

{% block content %}
    <h1>{{ user.employee_profile.team }} parcasi uretin</h1>

    <form method="post" action="
        {% if user.employee_profile.team == 'kanat' %}
            {% url 'add_wing_part' %}
        {% elif user.employee_profile.team == 'govde' %}
            {% url 'add_body_part' %}
        {% elif user.employee_profile.team == 'kuyruk' %}
            {% url 'add_tail_part' %}
        {% elif user.employee_profile.team == 'aviyonik' %}
            {% url 'add_avionik_part' %}
        {% endif %}
    ">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
{% endblock %}
